*{
    margin: 0;
    padding: 0;   
 }
 body
 {
    background-color: #ffffff;
 }
 a{
    text-decoration: none;
 }
 .header
 {
    height: 10%;
    width: 100%;
   
    display: flex;
 }
 .main-logo
 {
   height: 100%;
   width: 15%;
  
 }
#main-logo-nokia
{
   padding-top: 5%;
   padding-left: 48%;
   height: 70%;
   width: 60%; 
   
}
.header-menus
{
   margin-left: 15%;
   padding-top: 2%;
   padding-left: 1%;
   height: 59%;
   width: 37%; 
   display: flex;
  /* background-color: blueviolet; */
}
p{
   font-family: NokiaPureHeadline,Arial,Helvetica,sans-serif;
}
.header-menu-down
{
   height: 20%;
   width: 8%;
 
}
.header-logo
{
   margin-left: 6%;
   padding-top: 1.6%;
  
   width: 16%;
   display: flex;
}
.header-logo-globe 
{
  font-size: 170%;
}
.header-logo-search
{
   margin-left: 14%;
   font-size: 140%;  
}
.header-logo-menu
{
   margin-left: 19%;  
   margin-top: 2%;
}
/* ............................ */
.content
{
   height: 900%;
   width: 100%;
   background-color: coral;
}
.content-main
{
   height: 900%;
   width: 100%;
   background-color: blue;
   background-image: url(); 
}